body {
  margin: auto;
  width: 80%;
  background-image: url(/images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
}

.my-first-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-first-section a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-first-section h1 {
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-first-section h3 {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 20px;
}

.my-first-section p {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.my-first-section ul {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
}

.my-first-section li {
  padding-right: 10px;
}

.my-second-section h1 {
  width: 327px;
  margin-top: -30px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-second-section p {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.for-displaying {
  margin-top: -70px;
  display: flex;
  align-items: center;
}

.for-displaying h2 {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
  order: 0;
  flex-grow: 0;
}

.for-displaying h3 {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.for-displaying img {
  padding-left: 20px;
  padding-right: 20px;
}

.ancrotag {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
}

.ancrotag a {
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  background-color: #ebebff;
  text-decoration: none;
  margin-top: -30px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.see-project button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.my-third-section h1 {
  width: 327px;
  margin-top: -30px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.thirdcounter {
  margin-top: -50px;
  display: flex;
  align-items: center;
}

.thirdcounter h2 {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
  order: 0;
  flex-grow: 0;
}

.thirdcounter h3 {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.thirdcounter img {
  padding-left: 20px;
  padding-right: 20px;
}

.ancrotag1 {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
}

.ancrotag1 a {
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  background-color: #ebebff;
  text-decoration: none;
  margin-top: -30px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.see-project1 button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.my-third-section p {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.my-fourth-section h1 {
  width: 327px;
  margin-top: -30px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-fourth-section p {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Part3 {
  margin-top: -70px;
  display: flex;
  align-items: center;
}

.Part3 h2 {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
  order: 0;
  flex-grow: 0;
}

.Part3 h3 {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Part3 img {
  padding-left: 20px;
  padding-right: 20px;
}

.ancrotag3 {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
}

.see-project3 button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.ancrotag3 a {
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  background-color: #ebebff;
  text-decoration: none;
  margin-top: -30px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.my-fith-section h1 {
  width: 327px;
  margin-top: -30px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-fith-section p {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.fithcounter {
  margin-top: -70px;
  display: flex;
  align-items: center;
}

.fithcounter h2 {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
  order: 0;
  flex-grow: 0;
}

.fithcounter h3 {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fithcounter img {
  padding-left: 20px;
  padding-right: 20px;
}

.ancrotag4 {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
}

.ancrotag4 a {
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  background-color: #ebebff;
  text-decoration: none;
  margin-top: -30px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.see-project4 button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.my-sixth-section h1 {
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-sixth-section h3 {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 20px;
}

.my-sixth-section p {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.my-sixth-section ul {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
}

.my-sixth-section li {
  padding-right: 10px;
}

.my-sixth-section button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.first-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.js {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.js p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.htmlH {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.htmlH p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.cssH {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cssH p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.frame {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: -20px;
}

.ski {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.my-eighth-section {
  background: #6070ff;
  border-top-left-radius: 80px;
  background-image: url(/images/backgroundp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.my-eighth-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #fff;
  text-align: center;
  padding-top: 115px;
}

.my-eighth-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #fff;
  text-align: center;
  width: 80%;
  margin: auto;
}

form {
  width: 80%;
  margin: auto;
}

.form1 input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;
  border-radius: 8px;
}

.form1 textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  border-radius: 8px;
}

.form1 button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

::placeholder {
  font-family: "Poppins", sans-serif;
}

.last-img {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
