body {
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding-bottom: 70px;
}

.for-background {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main1 {
  font-family: "Poppins", sans-serif;
  width: 80%;
  margin: auto;
}

.for-navbar {
  display: flex;
  justify-content: space-between;
}

.for-navbar a {
  color: #6070ff;
  padding-right: 20px;
  text-decoration: none;
}

.for-navbar li {
  list-style: none;
}

.for-navbar li a {
  color: #344563;
}

.for-navbar ul {
  display: flex;
}

.width-of-items {
  width: 90%;
  margin: auto;
  background-image: url(/Images-for-desktop-version/first-image-background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Primary-text h1 {
  color: #091e42;
  padding-top: 120px;
}

.Primary-text p {
  color: #344563;
}

.Primary-text h5 {
  color: #7f8cff;
}

.icons1 {
  display: flex;
  padding-left: 20px;
}

.icons1 img {
  padding-right: 10px;
}

.icons1 li {
  list-style: none;
}

.my-contact img {
  padding-bottom: 10px;
  padding-left: 350px;
  display: flex;
  justify-content: center;
}

.second-block1 img {
  padding-left: 20px;
}

.second-block {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid#DFE1E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-block img:nth-child(1) {
  width: 460px;
}

.second-block-last-img {
  width: 460px;
}

.tonic-class h1 {
  color: #091e42;
}

.canopy-class {
  display: flex;
  justify-content: space-between;
}

.canopy-class h2 {
  color: #344563;
}

.canopy-class h3 {
  color: #6b778c;
}

.tonic-class p {
  color: #344563;
}

.tonic-class {
  margin-left: 20px;
}

.tonic-class li {
  list-style: none;
  color: #6070ff;
  background-color: #e0e2f5;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 5px;
}

.tonic-class ul {
  display: flex;
  margin-left: -30px;
}

.tonic-class button {
  border-radius: 10px;
  border: 2px solid#bfc2e6;
  color: #396df2;
  padding: 10px 20px;
  font-size: 1em;
  background-color: white;
}

.tonic-class1 button {
  border-radius: 10px;
  border: 2px solid#bfc2e6;
  color: #396df2;
  padding: 10px 20px;
  font-size: 1em;
  background-color: white;
}

.tonic-class1 ul {
  display: flex;
  margin-left: -30px;
}

.tonic-class1 li {
  list-style: none;
  color: #6070ff;
  background-color: #e0e2f5;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 6px;
}

.tonic-class1 p {
  color: #344563;
}

.tonic-class1 h1 {
  color: #091e42;
}

.second-block1 {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid#DFE1E6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-image {
  width: 480px;
}

.background-img {
  position: absolute;
  width: 100%;
  height: 900px;
  background-color: #6070ff;
  background-image: url("/images/contact-form-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-size: auto;
  border-top-left-radius: 80px;
  background-position: right;
  z-index: -999;
}

.form-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 150px;
}

.theSecondContainer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.theSecondContainer-container h1 {
  font-size: 40px;
  font-weight: 700;
  color: #ffff;
  padding-top: 130px;
}

.theSecondContainer-container p {
  color: #ebebff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
}

.button {
  height: 48px;
  width: 140px;
  border-radius: 8px;
  padding: 12px, 16px, 12px, 16px;
  color: #6070ff;
  border: 1px solid #cfd8dc;
  margin-left: 110px;
}

.button:hover {
  background-color: #396df2;
  color: white;
  border: 1px solid white;
}

.myform {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-textarea {
  height: 170px;
  width: 327px;
  left: 0;
  top: 0;
  padding: 15px 38px 15px 16px;
  resize: none;
}

.form-control {
  height: 20px;
  width: 327px;
  left: 0;
  top: 0;
  border: 1px solid #cfd8dc;
  padding: 15px 38px 15px 16px;
}

.my-sixth-section {
  background-color: #ffff;
  border-top-right-radius: 80px;
  width: 447px;
  height: 290px;
}

.my-sixth-section h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.my-sixth-section h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
}

.my-sixth-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.my-sixth-section ul {
  display: flex;
  list-style-type: none;
}

.my-sixth-section li {
  padding-right: 10px;
}

.my-sixth-section button {
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.my-seventh-section {
  background-color: #ffff;
  width: 610px;
  height: 290px;
}

.first-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.js {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.js span {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.htmlH {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.htmlH span {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.cssH {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cssH span {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.frame {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: -20px;
}

.ski {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.chevron1 {
  display: flex;
  justify-content: space-between;
}

.chevron1 span {
  padding-top: 30px;
  color: black;
  font-size: 15px;
}

.chevron2 {
  display: flex;
  justify-content: space-between;
}

.chevron2 span {
  padding-top: 30px;
  color: black;
  font-size: 15px;
}

.first-bar span {
  padding-top: 30px;
  color: black;
  font-size: 15px;
}

.display00 {
  font-family: "popins", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 30px 90px;
}

.html-css {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
