* {
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #e5e5e5;
  margin: auto;
  width: 80%;
  background-image: url(/images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
}

.my-first-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-first-section a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-first-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-first-section h3 {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 20px;
}

.my-first-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.my-first-section ul {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
}

.my-first-section li {
  padding-right: 10px;
}

.my-second-section {
  display: grid;
  margin-top: 88px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid#DFE1E6;
}

.my-third-section {
  display: grid;
  margin-top: 88px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid#DFE1E6;
}

.my-fourth-section {
  display: grid;
  margin-top: 88px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid#DFE1E6;
}

.my-fith-section {
  display: grid;
  margin-top: 88px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #dfe1e6;
}

.my-second-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-second-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.see-project button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.new-style {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.new-style h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.new-style h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
  order: 0;
  flex-grow: 0;
}

.new-style h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.new-style img {
  padding-left: 20px;
  padding-right: 20px;
}

.see-project1 button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.my-third-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-third-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.my-fourth-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-fourth-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.see-project3 button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.ancrotag {
  display: flex;
  margin-left: -50px;
}

.ancrotag li {
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  background-color: #ebebff;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.my-fith-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-fith-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.see-project4 button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.my-sixth-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-sixth-section h3 {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 20px;
}

.my-sixth-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.my-sixth-section ul {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
}

.my-sixth-section li {
  padding-right: 10px;
}

.my-sixth-section button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

.first-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.js {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.js span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.htmlH {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.htmlH span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.cssH {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cssH span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: 10px;
}

.frame {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: -20px;
}

.ski {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.my-eighth-section {
  background: #6070ff;
  border-top-left-radius: 80px;
  background-image: url(/images/backgroundp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.my-eighth-section h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #fff;
  text-align: center;
  padding-top: 115px;
}

.my-eighth-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #fff;
  text-align: center;
  width: 80%;
  margin: auto;
}

form {
  width: 80%;
  margin: auto;
}

.form1 input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;
  border-radius: 8px;
}

.form1 textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  border-radius: 8px;
}

.form1 button {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background-color: white;
  color: #396df2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border-color: #396df2;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  margin-bottom: 20px;
}

::placeholder {
  font-family: "Poppins", sans-serif;
}

.last-img {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.chevron1 {
  display: flex;
  justify-content: space-between;
}

.chevron1 span {
  padding-top: 30px;
  color: black;
  font-size: 15px;
}

.chevron2 {
  display: flex;
  justify-content: space-between;
}

.chevron2 span {
  padding-top: 30px;
  color: black;
  font-size: 15px;
}

.first-bar {
  display: flex;
  justify-content: baseline;
}

.first-bar span {
  padding-top: 30px;
  color: black;
  font-size: 15px;
}
